/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    word-wrap: break-word;
    white-space: pre-line;
}